@mixin remCalc($fontSize) {
    font-size: ($fontSize / 16) * 1rem;
}

body {
    font-size: 100%; /*Default font-size is 16px*/
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
}

h4 {
    margin: 0px;
    padding: 0px;
}

blockquote {
    margin: 0px;
    padding: 0px;
}

nav {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width: 1170px) {
    .wrapper {
        width: 95%;
    }
}