@mixin remCalc($fontSize) {
    font-size: ($fontSize / 16) * 1rem;
}

body {
    font-size: 100%; /*Default font-size is 16px*/
}

h1 {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
}

nav {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0px;
    padding: 0px;
}