footer {
    border-top: 1px solid #e6e5e1;
    border-bottom: 1px solid #e6e5e1;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__contactSection {
    width: 40%;
    img {
        padding-top: 100px;
        margin-bottom: 60px;
    }
    p {
        width: 90%;
        color: #888890;
        line-height: 24px;
        @include remCalc(14);
    }
}

.contactInfo {
    margin-top: 30px;
    p {
        width: 65%;
        margin-top: 15px;
    }
}

.contactInfo span {
    color: #1a1a26;
    font-weight: 700;
}

.footer__socialIcons {
    margin-top: 46px;
    i {
        margin-right: 30px;
        @include remCalc(24);
    }
}

.footer__socialIcons .fa-twitter {
    color: #888890;
}

.footer__linksSection {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer__accentBar {
    width: 40px;
    height: 2px;
    background-color: #a8edea;
}

.services {
    width: 30%;
    padding-top: 95px;
    h2 {
        padding-bottom: 20px;
        color: #1a1a26; 
        font-weight: 400;
        @include remCalc (24);
    }
    ul {
        margin-top: 40px;
    }
    li {
        margin-bottom: 16px;
        font-weight: 400;
        @include remCalc(14);
    } 
}

.services a {
    color: #888890;
    &:hover {
        color: #f07f84;
    }    
}

.yourAccount {
    width: 30%;
    padding-top: 95px; 
    h2 {
        padding-bottom: 20px;
        color: #1a1a26; 
        font-weight: 400;
        @include remCalc (24);
    }
    ul {
        margin-top: 40px;
    }
    li {
        margin-bottom: 16px;
        font-weight: 400;
        @include remCalc(14);
    } 
}    

.yourAccount a {
    color: #888890;
    &:hover {
        color: #f07f84;
    }
}


.instagramFeed {
    width: 40%;
    padding-top: 95px; 
    h2 {
        padding-bottom: 20px;
        color: #1a1a26; 
        font-weight: 400;
        @include remCalc (24);
    }    
}

.footer__imageGrid {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
        margin-bottom: 9px;
    }
}

.creditCard-icons {
    margin-top: 31px;
    img {
        margin-right: 15px;
    }
}

@media (max-width: 1062px) {
    footer .wrapper {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer__contactSection {
        width: 50%;
        text-align: center;
        img {
            margin: 0 auto; 
            margin-bottom: 30px;
        }

        p {
            width: 100%;
        }

    }

    .contactInfo{
        margin-top: 15px;
        p {
            width: 100%;
            margin-top: 10px;
        }
    }

    .footer__socialIcons {
        margin-top: 30px;
        i {
            margin: 0px 15px;
        }
    } 
    
    .footer__linksSection {
        width: 50%;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }

    .footer__accentBar {
        margin: 0 auto;
    }

    .services {
        width: 50%;
        padding-top: 30px;
        h2 {
            padding-bottom: 10px;
        }
        ul {
            margin-top: 20px;
        }        
    }

    .yourAccount {
        width: 50%;
        padding-top: 30px;
        h2 {
            padding-bottom: 10px;
        }
        ul {
            margin-top: 20px;
        }
    }

    .instagramFeed {
        width: 60%;
        padding-top: 30px;
        h2 {
            padding-bottom: 10px;
        }        
    }

    .footer__imageGrid {
        margin-top: 20px;
    }
}

@media (max-width: 940px) {
    .services {
        width: 100%
    }

    .yourAccount {
        width: 100%;
    }

    .instagramFeed {
        width: 75%;
    }
}

@media (max-width: 750px) {
    .instagramFeed {
        width: 85%;
    }
}

@media (max-width: 650px) {
    .instagramFeed {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .footer__socialIcons {
        i {
            @include remCalc(16);
        }
    }    
}

@media (max-width: 553px) {
    .creditCard-icons {
        img {
            margin-right: 5px;
        }
    }
}

@media (max-width: 495px) {
    .footer__socialIcons {
        i {
            @include remCalc(12);
        }
    }    
}