footer {
    border-top: 1px solid #e6e5e1;
    border-bottom: 1px solid #e6e5e1;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__contactSection {
    width: 40%;
    img {
        padding-top: 100px;
        margin-bottom: 60px;
    }
    p {
        width: 90%;
        color: #888890;
        line-height: 24px;
        @include remCalc(14);
    }
}

.contactInfo {
    margin-top: 30px;
    p {
        width: 65%;
        margin-top: 15px;
    }
}

.contactInfo span {
    color: #1a1a26;
    font-weight: 700;
}

.footer__socialIcons {
    margin-top: 46px;
    i {
        margin-right: 30px;
        @include remCalc(24);
    }
}

.footer__socialIcons .fa-twitter {
    color: #888890;
}

.footer__accentBar {
    width: 40px;
    height: 2px;
    background-color: #a8edea;
}

.services {
    width: 17.5%;
    padding-top: 95px;
    h2 {
        padding-bottom: 20px;
        color: #1a1a26; 
        font-weight: 400;
        @include remCalc (24);
    }
    ul {
        margin-top: 40px;
    }
    li {
        margin-bottom: 16px;
        font-weight: 400;
        @include remCalc(14);
    } 
}

.services a {
    color: #888890;
    &:hover {
        color: #f07f84;
    }    
}

.yourAccount {
    width: 17.5%;
    padding-top: 95px; 
    h2 {
        padding-bottom: 20px;
        color: #1a1a26; 
        font-weight: 400;
        @include remCalc (24);
    }
    ul {
        margin-top: 40px;
    }
    li {
        margin-bottom: 16px;
        font-weight: 400;
        @include remCalc(14);
    } 
}    

.yourAccount a {
    color: #888890;
    &:hover {
        color: #f07f84;
    }
}


.instagramFeed {
    width: 25%;
    padding-top: 95px; 
    h2 {
        padding-bottom: 20px;
        color: #1a1a26; 
        font-weight: 400;
        @include remCalc (24);
    }    
}

.footer__imageGrid {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
        margin-bottom: 9px;
    }
}

.creditCard-icons {
    margin-top: 31px;
    img {
        margin-right: 15px;
    }
}