.showcase {
    width: 100%;
    text-align: center;
    padding-top: 226px;
    background-image: url(../assets/showcase-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.showcase h2 {
    color: #888890;
    font-weight: 400;
    @include remCalc(23);
}

.showcase h1 {
    margin-top: 30px;
    color: #1d1d29;
    font-weight: 500;
    @include remCalc(45);
}

.showcase__arrows {
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
}    

.showcase__shopNow {
    margin-top: 35px;
    margin-bottom: 150px;     
        a {
            display: inline-block;
            background-color: #f07f84;
            width: 180px;
            height: 60px;
            padding: 20px 0px;
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            @include remCalc(12);
            &:hover {
                color: #f07f84;
                background-color: #888890;
            }
        }
}

.showcase__bullet__segment {
    padding-bottom: 40px;
    .showcase__bullet {
        display: inline-block;
        margin: 0px 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: black;    
    }
}

.showcase__bullet__segment .grey-out {
    background-color: grey; 
}

@media (max-width: 768px) {
    .showcase {
        padding-top: 188px;
    }

    .showcase__arrows {
        margin-top: 50px;
    }

    .showcase__shopNow {
        margin-top: 0px;
    }
}

@media (max-width: 588px) {
    .showcase {
        padding-top: 120px;
    }
}

@media (max-width: 480px){
    .showcase h1 {
        margin-top: 10px
    }

    .showcase h2 {
        color:white;
    }
}

@media (max-width: 334px) {
    .showcase {
        padding-top: 100px;
    }
    .showcase__shopNow a {
       margin-top: 50px;
    }
}