.sponsors-section {
    margin-bottom: 100px;
}

.sponsors-section .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 940px) {
    .sponsors-section .wrapper {
        justify-content: space-around;
    }

    .responsive__firstVanish {
        display: none;
    }
}

@media (max-width: 560px) {
    .responsive__secondVanish {
        display: none;
    }
}