.welcome-section {
    margin-top: 114px;
}

.welcome__header {
    text-align: center;
    background-image: url(../assets/welcomeBackground.png);
    background-repeat: no-repeat;
    background-position: 510px 10px;
    h3 {
        margin-bottom: 0px;
        color: #a8edea;
        font-weight: 400;
        @include remCalc(18);    
    }
    h2 {
        padding-bottom: 82px;
        color:  #1e1e2a;
        font-weight: 500;
        @include remCalc(36);
    }
}

.welcome__text {
    color:  #888890;
    width: 68%;
    margin: 0 auto;
    margin-bottom: 96px;
    text-align: center;       
    p {
        margin-bottom: 56px;
        font-weight: 400;
        line-height: 24px;
        @include remCalc(14);
    }
    h4 {
        color:  #1e1e2a;
        text-transform: uppercase;
        font-weight: 500;
        @include remCalc(16);
    }
    span {
        color: #888890;
        font-style: italic;
        text-transform: none;
        font-weight: 400;
        @include remCalc(14);
    }
}

.welcome__gallery {
    display: flex;
    justify-content: space-between;
}

.gallery__airPlants {
    width: calc(44% - 15px);
    margin-right: 15px;
    position: relative;
    img {
        width: 100%;
        min-height: 100%;
    }
    .airPlants__text {
        width: 46%;
        height: 90px;
        padding-top: 12px;
        background-color: white;
        text-align: center;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        h3 {
            color: #1a1a26;
            font-weight: 400;
            @include remCalc(24);
        }
        p {
            color: #888890;
            @include remCalc(16);
        }
    }
}

.gallery__triplePanel {
    width: calc(56% - 15px);
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    img {
        width: 100%;
        min-height: 100%;
    }
}

.triplePanel__officePlants {
    width: calc(50% - 15px);
    margin-right: 15px;
    position: relative;
}

.officePlants__text {
    width: 76%;
    height: 90px;
    padding-top: 12px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    h3 {
        color: #1a1a26;
        font-weight: 400;
        @include remCalc(24);
    }
    p {
        color: #888890;
        @include remCalc(16);
    }
}

.triplePanel__housePlants {
    width: calc(50% - 15px);
    margin-left: 15px;
    position: relative;
}

.housePlants__text {
    width: 76%;
    height: 90px;
    padding-top: 12px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    h3 {
        color: #1a1a26;
        font-weight: 400;
        @include remCalc(24);
    }
    p {
        color: #888890;
        @include remCalc(16);
    }
}

.triplePanel__plantContainers {
    margin-top: 30px;
    position: relative;
}

.plantContainers__text {
    width: 41%;
    height: 90px;
    padding-top: 12px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    h3 {
        color: #1a1a26;
        font-weight: 400;
        @include remCalc(24);
    }
    p {
        color: #888890;
        @include remCalc(16);
    }
}

@media (max-width: 940px) {
    .welcome__gallery {
        flex-direction: column;
        align-items: center;
    }

    .gallery__airPlants {
        width: 75%;
        margin: 0px;
        margin-bottom: 30px;
    }

    .gallery__triplePanel {
        width: 75%;
        margin: 0px;
    }
}

@media (max-width: 768px) {
    .gallery__airPlants {    
        .airPlants__text {
            h3 {
                padding-top: 8px;
                @include remCalc(18);
            }
            p {
                @include remCalc(14);
            }    
        }
    }   

    .housePlants__text {
        h3 {
            padding-top: 8px;
            @include remCalc(18);
        }
        p {
            @include remCalc(14);
        }
    }

    .officePlants__text {
        h3 {
            padding-top: 8px;
            @include remCalc(18);
        }
        p {
            @include remCalc(14);
        }         
    }

    .plantContainers__text {
        h3 {
            padding-top: 8px;
            @include remCalc(18);
        }
        p {
            @include remCalc(14);
        }
    }
}

@media (max-width: 508px) {
    .welcome__header h2 {
        padding-bottom: 40px;
    }   

    .welcome__text {
        margin-bottom: 50px;
    }

    .gallery__airPlants {    
        .airPlants__text {
            h3 {
                padding-top: 12px;
                @include remCalc(16);
            }
            p {
                @include remCalc(12);
            }    
        }
    }   

    .housePlants__text {
        h3 {
            padding-top: 16px;
            @include remCalc(14);
        }
        p {
            @include remCalc(10);
        }
    }

    .officePlants__text {
        h3 {
            padding-top: 16px;
            @include remCalc(14);
        }
        p {
            @include remCalc(10);
        }         
    }

    .plantContainers__text {
        h3 {
            padding-top: 16px;
            @include remCalc(14);
        }
        p {
            @include remCalc(10);
        }
    }
} 