article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  /*Default font-size is 16px*/ }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  max-width: 1920px;
  margin: 0 auto; }

h1 {
  margin: 0px;
  padding: 0px; }

h2 {
  margin: 0px;
  padding: 0px; }

h3 {
  margin: 0px;
  padding: 0px; }

h4 {
  margin: 0px;
  padding: 0px; }

blockquote {
  margin: 0px;
  padding: 0px; }

nav {
  margin: 0px;
  padding: 0px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  margin: 0px;
  padding: 0px;
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0px;
  padding: 0px; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

@media (max-width: 1170px) {
  .wrapper {
    width: 95%; } }

header .header__topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 36px 0px; }

.header__navigation {
  width: 33.3333%; }

.header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 11px 0px; }
  .header__navigation ul a {
    font-size: 0.875rem;
    color: #1a1a26;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .header__navigation ul a:hover {
      color: #f07f84;
      border-bottom: 1px solid #1a1a26; }

.header__logo {
  width: 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__icons {
  margin-top: 12px;
  width: 33.3333%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right; }
  .header__icons img {
    margin-left: 30px; }

.header__icons__bag {
  position: relative; }

.bag__itemsGraphic {
  background-color: #a8edea;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -12px; }
  .bag__itemsGraphic p {
    padding: 1px 6px;
    font-size: 0.6875rem; }

@media (max-width: 768px) {
  header .header__topBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0px; }
  .header__navigation {
    width: 50%;
    margin-top: 10px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .header__logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .header__icons {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header__icons img {
      margin: 0;
      padding: 0px 24px; }
  .bag__itemsGraphic {
    right: 12px; } }

@media (max-width: 650px) {
  .header__navigation {
    width: 75%; } }

@media (max-width: 480px) {
  .header__navigation {
    width: 90%; } }

.showcase {
  width: 100%;
  text-align: center;
  padding-top: 226px;
  background-image: url(../assets/showcase-background.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.showcase h2 {
  color: #888890;
  font-weight: 400;
  font-size: 1.4375rem; }

.showcase h1 {
  margin-top: 30px;
  color: #1d1d29;
  font-weight: 500;
  font-size: 2.8125rem; }

.showcase__arrows {
  margin: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.showcase__shopNow {
  margin-top: 35px;
  margin-bottom: 150px; }
  .showcase__shopNow a {
    display: inline-block;
    background-color: #f07f84;
    width: 180px;
    height: 60px;
    padding: 20px 0px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .showcase__shopNow a:hover {
      color: #1d1d29;
      background-color: #888890;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.showcase__bullet__segment {
  padding-bottom: 40px; }
  .showcase__bullet__segment .showcase__bullet {
    display: inline-block;
    margin: 0px 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black; }

.showcase__bullet__segment .grey-out {
  background-color: grey; }

@media (max-width: 768px) {
  .showcase {
    padding-top: 188px; }
  .showcase__arrows {
    margin-top: 50px; }
  .showcase__shopNow {
    margin-top: 0px; } }

@media (max-width: 600px) {
  .showcase__shopNow {
    margin-top: 55px; } }

@media (max-width: 588px) {
  .showcase {
    padding-top: 120px; } }

@media (max-width: 480px) {
  .showcase h1 {
    margin-top: 10px; }
  .showcase h2 {
    color: white; } }

@media (max-width: 334px) {
  .showcase {
    padding-top: 100px; }
  .showcase__shopNow a {
    margin-top: 50px; } }

.welcome-section {
  margin-top: 114px; }

.welcome__header {
  text-align: center;
  background-image: url(../assets/welcomeBackground.png);
  background-repeat: no-repeat;
  background-position: 510px 10px; }
  .welcome__header h3 {
    margin-bottom: 0px;
    color: #a8edea;
    font-weight: 400;
    font-size: 1.125rem; }
  .welcome__header h2 {
    padding-bottom: 82px;
    color: #1e1e2a;
    font-weight: 500;
    font-size: 2.25rem; }

.welcome__text {
  color: #888890;
  width: 68%;
  margin: 0 auto;
  margin-bottom: 96px;
  text-align: center; }
  .welcome__text p {
    margin-bottom: 56px;
    font-weight: 400;
    line-height: 24px;
    font-size: 0.875rem; }
  .welcome__text h4 {
    color: #1e1e2a;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem; }
  .welcome__text span {
    color: #888890;
    font-style: italic;
    text-transform: none;
    font-weight: 400;
    font-size: 0.875rem; }

.welcome__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.gallery__airPlants {
  width: calc(44% - 15px);
  margin-right: 15px;
  position: relative; }
  .gallery__airPlants img {
    width: 100%;
    min-height: 100%; }
  .gallery__airPlants .airPlants__text {
    width: 46%;
    height: 90px;
    padding-top: 12px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .gallery__airPlants .airPlants__text:hover {
      background-color: #f07f84;
      -webkit-transform: translate(-50%, -50%) scale(0.9);
      -ms-transform: translate(-50%, -50%) scale(0.9);
      transform: translate(-50%, -50%) scale(0.9); }
    .gallery__airPlants .airPlants__text h3 {
      color: #1a1a26;
      font-weight: 400;
      font-size: 1.5rem; }
    .gallery__airPlants .airPlants__text p {
      color: #888890;
      font-size: 1rem; }

.gallery__triplePanel {
  width: calc(56% - 15px);
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .gallery__triplePanel img {
    width: 100%;
    min-height: 100%; }

.triplePanel__officePlants {
  width: calc(50% - 15px);
  margin-right: 15px;
  position: relative; }

.officePlants__text {
  width: 76%;
  height: 90px;
  padding-top: 12px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .officePlants__text:hover {
    background-color: #f07f84;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9); }
  .officePlants__text h3 {
    color: #1a1a26;
    font-weight: 400;
    font-size: 1.5rem; }
  .officePlants__text p {
    color: #888890;
    font-size: 1rem; }

.triplePanel__housePlants {
  width: calc(50% - 15px);
  margin-left: 15px;
  position: relative; }

.housePlants__text {
  width: 76%;
  height: 90px;
  padding-top: 12px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .housePlants__text:hover {
    background-color: #f07f84;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9); }
  .housePlants__text h3 {
    color: #1a1a26;
    font-weight: 400;
    font-size: 1.5rem; }
  .housePlants__text p {
    color: #888890;
    font-size: 1rem; }

.triplePanel__plantContainers {
  margin-top: 30px;
  position: relative; }

.plantContainers__text {
  width: 41%;
  height: 90px;
  padding-top: 12px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .plantContainers__text:hover {
    background-color: #f07f84;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9); }
  .plantContainers__text h3 {
    color: #1a1a26;
    font-weight: 400;
    font-size: 1.5rem; }
  .plantContainers__text p {
    color: #888890;
    font-size: 1rem; }

@media (max-width: 940px) {
  .welcome__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .gallery__airPlants {
    width: 75%;
    margin: 0px;
    margin-bottom: 30px; }
  .gallery__triplePanel {
    width: 75%;
    margin: 0px; } }

@media (max-width: 768px) {
  .gallery__airPlants .airPlants__text h3 {
    padding-top: 8px;
    font-size: 1.125rem; }
  .gallery__airPlants .airPlants__text p {
    font-size: 0.875rem; }
  .housePlants__text h3 {
    padding-top: 8px;
    font-size: 1.125rem; }
  .housePlants__text p {
    font-size: 0.875rem; }
  .officePlants__text h3 {
    padding-top: 8px;
    font-size: 1.125rem; }
  .officePlants__text p {
    font-size: 0.875rem; }
  .plantContainers__text h3 {
    padding-top: 8px;
    font-size: 1.125rem; }
  .plantContainers__text p {
    font-size: 0.875rem; } }

@media (max-width: 508px) {
  .welcome__header h2 {
    padding-bottom: 40px; }
  .welcome__text {
    margin-bottom: 50px; }
  .gallery__airPlants .airPlants__text h3 {
    padding-top: 12px;
    font-size: 1rem; }
  .gallery__airPlants .airPlants__text p {
    font-size: 0.75rem; }
  .housePlants__text h3 {
    padding-top: 16px;
    font-size: 0.875rem; }
  .housePlants__text p {
    font-size: 0.625rem; }
  .officePlants__text h3 {
    padding-top: 16px;
    font-size: 0.875rem; }
  .officePlants__text p {
    font-size: 0.625rem; }
  .plantContainers__text h3 {
    padding-top: 16px;
    font-size: 0.875rem; }
  .plantContainers__text p {
    font-size: 0.625rem; } }

.products-section {
  margin-top: 100px;
  text-align: center; }

.products__header h2 {
  margin-bottom: 30px;
  color: #1d1d29;
  font-weight: 400;
  font-size: 2rem; }

.products__header__nav {
  margin-top: 50px;
  margin-bottom: 40px; }

.products__header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .products__header__nav ul li {
    margin: 0px 60px; }
    .products__header__nav ul li a {
      color: #1d1d29;
      padding-bottom: 10px; }
      .products__header__nav ul li a:hover {
        color: #888890;
        border-bottom: 1px solid #f07f84; }

.products__header__nav li:first-child {
  border-bottom: 1px solid #1d1d29;
  padding-bottom: 10px; }

.products__grid {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.product__image {
  position: relative; }

.product__overlay {
  position: absolute;
  background-color: rgba(26, 26, 38, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden; }
  .product__overlay a {
    display: inline-block;
    background-color: white;
    margin-top: 115px;
    padding-top: 12px;
    width: 120px;
    height: 40px;
    color: #888890;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75rem; }
    .product__overlay a:hover {
      background-color: #f07f84;
      color: #1d1d29; }

.product__image:hover .product__overlay {
  visibility: visible; }

.products__grid__product {
  margin-bottom: 48px; }

.products__grid__product h4 {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #1a1a26;
  font-weight: 400;
  font-size: 0.875rem; }

.products__grid__product p {
  color: #1a1a26;
  font-size: 1.125rem; }

.reducedPrice {
  width: 50%;
  padding-left: 40px;
  float: left; }

.products__grid__product .slashedPrice {
  width: 50%;
  padding-top: 2px;
  padding-right: 35px;
  float: right;
  color: #888890;
  text-decoration: line-through;
  font-size: 0.875rem; }

.productTag {
  position: absolute;
  padding: 2px;
  width: 40px;
  height: 20px;
  border-radius: 25px;
  text-transform: uppercase; }

.productTag p {
  color: #fefeff;
  font-size: 0.625rem; }

.hot {
  background-color: #ff9a9e;
  top: 10px;
  right: 10px; }

.discount {
  background-color: #f6b895;
  top: 10px;
  right: 10px; }

.new {
  background-color: #79dad6;
  top: 35px;
  right: 10px; }

.newFlower {
  background-color: #79dad6;
  top: 10px;
  right: 10px; }

@media (max-width: 560px) {
  .products__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.featurette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.customerReviews {
  width: 50%;
  padding-top: 138px;
  padding-bottom: 137px;
  background-image: url(../assets/customerBG.jpg);
  background-size: cover;
  text-align: center; }
  .customerReviews h2 {
    margin-bottom: 22px;
    color: #1a1a26;
    font-weight: 500;
    font-size: 1.625rem; }

.customerReviews blockquote {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 26px;
  width: 80%;
  color: #1a1a26;
  font-weight: 400;
  font-size: 0.75rem; }

.customerReviews h4 {
  color: #888890;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.6875rem; }

.review__bullet__segment {
  margin-top: 53px; }

.review__bullet {
  display: inline-block;
  margin: 8px 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #888890; }

.activeBullet {
  margin: 0px 13px;
  width: 50px;
  height: 50px;
  border: 3px solid #888890; }

.video-overlay {
  background-color: rgba(26, 26, 38, 0.5);
  width: 100%;
  height: 100%;
  padding-top: 187px; }

.featurette__videoSection {
  width: 50%;
  background-image: url(../assets/videoBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.videoPlaybutton {
  width: 80px;
  height: 80px;
  background-color: #f07f84;
  border-radius: 50%; }
  .videoPlaybutton img {
    margin: 30px; }

.playButton-border {
  margin: 0 auto;
  padding: 10px;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 154, 158, 0.3);
  border-radius: 50%; }

.videoSection__graphics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px; }

.videoSection__graphics h2 {
  font-family: 'press_style_serifregular';
  padding: 5px 10px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 4.375rem; }

.videoSection__graphics img {
  width: 126px;
  height: 66px; }

.featurette__videoSection h3 {
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 0.6875rem; }

@media (max-width: 940px) {
  .featurette {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .customerReviews {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px; }
  .featurette__videoSection {
    width: 100%; }
  .videoSection__graphics {
    margin-top: 25px; }
  .video-overlay {
    padding-top: 150px;
    padding-bottom: 155px; } }

.blog-section {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center; }

.blog-section h2 {
  margin-bottom: 21px;
  color: #1a1a26;
  font-weight: 500;
  font-size: 2.25rem; }

.blog__posts {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.blog__posts .blog__posts__article:last-child {
  margin-right: 0px; }

.blog__posts__article {
  width: 33.3333%;
  margin-right: 30px;
  text-align: left; }
  .blog__posts__article img {
    width: 100%;
    max-height: 243px; }
  .blog__posts__article p {
    margin-top: 20px;
    margin-bottom: 18px;
    color: #888890;
    font-size: 0.875rem; }
  .blog__posts__article h3 {
    margin-bottom: 25px;
    padding-right: 20%;
    color: #1a1a26;
    line-height: 28px;
    font-weight: 500;
    font-size: 1.125rem; }
  .blog__posts__article a {
    color: #1a1a26;
    border-bottom: 1px solid #1a1a26; }
    .blog__posts__article a:hover {
      color: #888890; }

@media (max-width: 940px) {
  .blog__posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .blog__posts__article {
    width: 50%;
    margin-right: 0; } }

@media (max-width: 768px) {
  .blog__posts {
    margin-top: 40px; }
  .blog__posts__article {
    width: 65%; } }

@media (max-width: 640px) {
  .blog__posts__article {
    width: 70%; } }

.newsletter-section {
  text-align: center;
  margin-bottom: 100px; }

.newsletter-section h2 {
  margin-bottom: 21px;
  color: #1a1a26;
  font-weight: 500;
  font-size: 2.25rem; }

.newsletter-section p {
  margin: 0 auto;
  margin-top: 40px;
  width: 60%;
  color: #888890;
  line-height: 24px;
  font-size: 0.875rem; }

.newsletter-section input {
  margin-top: 74px;
  padding-bottom: 16px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #888890;
  background-image: url(../assets/mail.png);
  background-repeat: no-repeat;
  background-position: right 5px; }

.newsletter-section input::-webkit-input-placeholder {
  color: #888890;
  font-size: 0.875rem; }

.newsletter-section input:-ms-input-placeholder {
  color: #888890;
  font-size: 0.875rem; }

.newsletter-section input::-ms-input-placeholder {
  color: #888890;
  font-size: 0.875rem; }

.newsletter-section input::placeholder {
  color: #888890;
  font-size: 0.875rem; }

.sponsors-section {
  margin-bottom: 100px; }

.sponsors-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media (max-width: 940px) {
  .sponsors-section .wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .responsive__firstVanish {
    display: none; } }

@media (max-width: 560px) {
  .responsive__secondVanish {
    display: none; } }

.bottomBar {
  margin: 0 auto;
  background-color: #95f2ec;
  width: 120px;
  height: 2px; }
  .bottomBar .inner-bottomBar {
    margin: 0 auto;
    background-color: #f6eeef;
    width: 40px;
    height: 2px; }

footer {
  border-top: 1px solid #e6e5e1;
  border-bottom: 1px solid #e6e5e1;
  padding-bottom: 41px;
  margin-bottom: 50px; }

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__contactSection {
  width: 40%; }
  .footer__contactSection img {
    padding-top: 100px;
    margin-bottom: 60px; }
  .footer__contactSection p {
    width: 90%;
    color: #888890;
    line-height: 24px;
    font-size: 0.875rem; }

.contactInfo {
  margin-top: 30px; }
  .contactInfo p {
    width: 65%;
    margin-top: 15px; }

.contactInfo span {
  color: #1a1a26;
  font-weight: 700; }

.footer__socialIcons {
  margin-top: 46px; }
  .footer__socialIcons a {
    color: #1a1a26;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .footer__socialIcons a i {
      margin-right: 30px;
      font-size: 1.5rem; }

.footer__socialIcons a:hover {
  color: #f07f84; }

.footer__linksSection {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__accentBar {
  width: 40px;
  height: 2px;
  background-color: #a8edea; }

.services {
  width: 30%;
  padding-top: 95px; }
  .services h2 {
    padding-bottom: 20px;
    color: #1a1a26;
    font-weight: 400;
    font-size: 1.5rem; }
  .services ul {
    margin-top: 40px; }
  .services li {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 0.875rem; }

.services a {
  color: #888890;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .services a:hover {
    color: #f07f84; }

.yourAccount {
  width: 30%;
  padding-top: 95px; }
  .yourAccount h2 {
    padding-bottom: 20px;
    color: #1a1a26;
    font-weight: 400;
    font-size: 1.5rem; }
  .yourAccount ul {
    margin-top: 40px; }
  .yourAccount li {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 0.875rem; }

.yourAccount a {
  color: #888890; }
  .yourAccount a:hover {
    color: #f07f84; }

.instagramFeed {
  width: 40%;
  padding-top: 95px; }
  .instagramFeed h2 {
    padding-bottom: 20px;
    color: #1a1a26;
    font-weight: 400;
    font-size: 1.5rem; }

.footer__imageGrid {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer__imageGrid img {
    margin-bottom: 9px; }

.creditCard-icons {
  margin-top: 31px; }
  .creditCard-icons img {
    margin-right: 15px; }

.copyrightInfo {
  margin-top: 100px;
  padding-top: 43px;
  border-top: 1px solid #e6e5e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .copyrightInfo p {
    max-width: 1170px;
    margin: 0 auto;
    color: #888890;
    line-height: 25px;
    font-size: 0.875rem; }
    .copyrightInfo p span {
      color: #1a1a26; }

@media (max-width: 1062px) {
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footer__contactSection {
    width: 50%;
    text-align: center; }
    .footer__contactSection img {
      margin: 0 auto;
      margin-bottom: 30px; }
    .footer__contactSection p {
      width: 100%; }
  .contactInfo {
    margin-top: 15px; }
    .contactInfo p {
      width: 100%;
      margin-top: 10px; }
  .footer__socialIcons {
    margin-top: 30px;
    margin-bottom: 20px; }
    .footer__socialIcons i {
      margin: 0px 15px; }
  .footer__linksSection {
    width: 50%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center; }
  .footer__accentBar {
    margin: 0 auto; }
  .services {
    width: 50%;
    padding-top: 30px; }
    .services h2 {
      padding-bottom: 10px; }
    .services ul {
      margin-top: 20px; }
  .yourAccount {
    width: 50%;
    padding-top: 30px; }
    .yourAccount h2 {
      padding-bottom: 10px; }
    .yourAccount ul {
      margin-top: 20px; }
  .instagramFeed {
    width: 60%;
    padding-top: 30px; }
    .instagramFeed h2 {
      padding-bottom: 10px; }
  .footer__imageGrid {
    margin-top: 20px; } }

@media (max-width: 940px) {
  .services {
    width: 100%; }
  .yourAccount {
    width: 100%; }
  .instagramFeed {
    width: 75%; } }

@media (max-width: 750px) {
  .instagramFeed {
    width: 85%; } }

@media (max-width: 650px) {
  .instagramFeed {
    width: 100%; } }

@media (max-width: 600px) {
  .footer__socialIcons a i {
    font-size: 1rem; } }

@media (max-width: 553px) {
  .creditCard-icons img {
    margin-right: 5px; } }

@media (max-width: 495px) {
  .footer__socialIcons a i {
    font-size: 0.75rem; } }

@font-face {
  font-family: 'press_style_serifregular';
  src: url("../styles/fonts/press_style_serif-webfont.woff2") format("woff2"), url("../styles/fonts/press_style_serif-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=style.css.map */