@import "components/setup";
@import "components/base";
@import "components/header";
@import "components/showcase";
@import "components/welcome-section";
@import "components/popular-products";
@import "components/featurette";
@import "components/blog";
@import "components/newsletter";
@import "components/sponsors";
@import "components/bottomBar";
@import "components/footer";

@font-face {
    font-family: 'press_style_serifregular';
    src: url('../styles/fonts/press_style_serif-webfont.woff2') format('woff2'),
         url('../styles/fonts/press_style_serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid red;
}

// Make the partial
// Save the partial
// Delete the partial .css
// Import the partial
// save style.scss