@import "components/setup";
@import "components/header";
@import "components/footer";


body {
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

// Make the partial
// Save the partial
// Delete the partial .css
// Import the partial
// save style.scss